<template id="bar-chart-template" name="" block="" class="" source="" stack>
  <h4></h4>
  <figure id="">
    <div class="data bar-chart"></div>
  </figure>
</template>

<bar-chart name="operating systems" block="os" class="three_column" source="/fake-data/os.json" stack>
</bar-chart>

<script src="{{ site.baseurl }}/js/vendor/document-register-element.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/x-tag-no-polyfills.min.js"></script>
<script src="{{ site.baseurl }}/js/components.js"></script>
